# Azure Pipelines CI for ${{ values.name }}
trigger:
  - main

# Use self-hosted agent pool on OpenShift
pool:
  name: 'OpenShift Pool'

variables:
  NODE_VERSION: '20.x'

stages:
  - stage: Build
    displayName: 'Build and Test'
    jobs:
      - job: BuildJob
        displayName: 'Build'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '$(NODE_VERSION)'
            displayName: 'Install Node.js'

          - script: npm ci
            displayName: 'Install dependencies'

          - script: npm run lint
            displayName: 'Run linter'
            continueOnError: true

          - script: npm test
            displayName: 'Run tests'

          - script: npm run build
            displayName: 'Build application'

          - task: PublishBuildArtifacts@1
            inputs:
              pathToPublish: 'dist'
              artifactName: 'app'
            displayName: 'Publish artifacts'
