apiVersion: v1
kind: Secret
metadata:
  name: user-onboarding-secrets
  namespace: rhdh
  labels:
    app: user-onboarding
    app.kubernetes.io/component: serverless-workflow
    app.kubernetes.io/managed-by: sonataflow-operator
    app.kubernetes.io/name: user-onboarding
    sonataflow.org/workflow-app: user-onboarding
stringData:
  BACKSTAGE_NOTIFICATIONS_URL: "http://backstage-developer-hub.rhdh"
  NOTIFICATIONS_BEARER_TOKEN: ""
  ONBOARDING_SERVER_URL: "http://user-onboarding-server.rhdh:8080"
